
/*div{
    background-color:red;
    position:absolute;
    width:200px;
    heigt:300px;

}

#capa1{
    left:10px;
    top:300pz;
}

#capa2{
    left:10px;
    top:550px;

}*/

.rosita {
    color: pink;
    font-size: 2em;

}
